.capture{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

body{
  background-color: #adcaf7;
}

.logoBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.Salus{
  
   margin-right: 20rem;
}